<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Added to protect sensitive data from being committed to Source Control-->
  <!--Because of the file attribute on the appSettings in the web.config, these two sections will be merged together at runtime by the .NET Framework. For the file attribute to work, this config file should only contain info about appSettings.-->
  <!--To get here, we added a configs folder to the project, then added an XML class/file (under C#) called AppSecretKeys.config. Don't actually name files like this in the future.-->

  <add key="EmailClient" value="mail.daniellethedev.com"/>
  <!--This is just the email client-->

  <!--Email user on the hosting account-->
  <add key="EmailUser" value="postmaster@daniellethedev.com"/>
  <!--This is the email we set up (so not the auto/default postmaster one)-->

  <!--Password for the email user on the account-->
  <add key="EmailPassword" value="I@mWonderWoman88"/>

  <!--Email address to send the contact info to-->
  <add key="EmailTo" value="me@daniellethedev.com"/>

</appSettings>