@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *****************************************************************************************************************
      HEADERWRAP
      ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <div class="row jumbotron">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Danielle Smalley</h1>
                <h1>Full Stack Developer</h1>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/html.png" alt="" title="HTML5" height="100" width="100" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/css-icon-png-0.jpg" alt="" title="CSS3" height="40" width="60" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/javascript.png" alt="" title="JavaScript" height="40" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/c-icon-455x512-nnvx09v8.png" alt="" title="C#" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/jquery.png"alt="" title="jQuery"  height="400" width="400" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/json.png" alt="" title="JSON" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/react.png" alt="" title="React" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/sql.png" alt="" title="Microsoft SQL Server Management Studio" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/net.png" alt="" title=".Net" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/pic.png" alt="" title="ASP.Net" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/xml.png" alt="" title="XML" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/bootstrap-6-1175203.png" alt="" title="Bootstrap" height="80" width="80" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="aboutmeheader">
                    <i class="fas fa-user-circle"></i> About Me
                </h1>
                <h3 class="aboutmetext">
                    Hi! My name is Danielle Smalley and I am a full stack web developer in the .Net framework.
                    <br />
                    <br />
                    I am skilled in front-end, middle-tier, and back end development. This includes JavaScript, C#/.Net, jQuery, SQL, JSON, ReactJS, and more.
                    <br />
                    <br />
                    Over the past 9 years, I’ve become a successful advocate, project manager, and problem anticipator/resolver for clients in the roles I’ve held.
                    <br />
                    <br />
                    I have a knack for empathizing and listening to clients’ needs, communicating transparently and directly, and tirelessly working towards solutions. I enjoy figuring out why things work the way they do, and spotting opportunities for improvement.
                    <br />
                    <br />
                    My interest in technology started when I was a little girl, enjoying computers, puzzles, and video games. Now, I see a need for more women in tech and am driven to contribute to this mission.
                    <br />
                    <br />
                    I’m looking forward to bringing my unique background, love of helping others, hunger for growth, and passion for learning to my tech career.
                    <br />
                    <br />
                    Welcome to my website! Please take a look around
                    <i class="fas fa-code"></i>
                </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/database.png" alt="" title="Database Management" height="90" width="100" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/fullstack-development-1182876.png" alt="" title="Full Stack Development" height="90" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/visualstudio.png" alt="" title="Visual Studio" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/versioncontrol.jpg" alt="" title="Version Control" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/python.png" alt="" title="Python" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/agilescrum.jpg" alt="" title="Agile Scrum" height="200" width="100" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/github.png" alt="" title="GitHub" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/pairprogramming.png" alt="" title="Pair Programming" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/microsoft office.png" alt="" title="Microsoft Office" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/slack.png" alt="" title="Slack" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/trello.png" alt="" title="Trello" height="80" width="80" />
            </div>
            <div class="col-md-1">
                <img class="homeimg" id="rotate" src="~/Content/img/languagesskills/microsoft-teams-logo.png" alt="" title="Microsoft Teams" height="80" width="80" />
            </div>
        </div>
    </div>
</div>