
@{
    ViewBag.Title = "FinalProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Final Project - Learning Management System</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

<div class="container mt">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/img/final3.png" aria-hidden="true">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final2.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final4.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final5.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final6.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final7.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final8.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final9.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final10.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final11.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final12.png" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/final13.png" aria-hidden="true" />
                    </div>



                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="storefornt"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="8" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="9" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="10" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="11" class="storefront"></li>


                </ol>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Coding Bootcamp Survival Kit</h4>
            <p>
                For this capstone project, the goal was to take the knowledge
                I have gained throughout the entire course, and practically apply it to create a data-driven web application that successfully integrates provided project requirements. Specifically, my prompt was to build a Learning Management System. Employees are required to continually educate themselves in policies and procedures. Each employee must complete 6 courses of continuing education each calendar year, and each course has multiple lessons. I created an online system where employees can sign in and view course lessons in which they will watch a linked video and/or read an uploaded PDF. After completing all of the lessons for a course, the system should email their manager informing them of their completion. Other requirements were set forth, but these were the main objectives.
                </p>
            <p>
                During this week-and-a-half-long sprint, the focus was on
                the planning, development, testing, completion, deployment, and presentation of my solution.
                I thoroughly enjoyed this project from start to finish--everything from Project Management using Trello and Excel to track, wireframe, and manage the project to all of the specific logic involved in the code. The deadline applied just the right amount of pressure to quickly and efficiently produce my application to meet all execution requirements.

            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> August 2021</p>
            <p><b>Creator:</b> Danielle Smalley</p>
            <p>
                <b>Categories:</b> HTML5,
                CSS3,
                JavaScript,
                C#,
                ASP.Net,
                MVC,
                Entity Frameworks,
                Sequel Server Management Studio,
                Identity Samples,
                jQuery / jQuery DataTables,
                Bootstrap,
                Debugging,
                Sprint,
                Trello,
                Zoom,
                Creately,
                Filezilla,
                SmarterASP
            </p>
            <p><b>GitHub Repo: </b> <a href="https://github.com/danielle-smalley/LMS" target="_blank">Click Here</a> </p>
            <p><b>Project Documentation: </b><a href="@Url.Content("~/Content/img/DanielleSmalleyDocumentationLMS.pdf")" target="_blank">Found Here</a></p>
            <br />
        </div>

    </div>
</div>
