
@{
    ViewBag.Title = "SAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Group Project - Scheduling Admin Tool</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

<div class="container mt">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/img/groupproject1.jpg" aria-hidden="true">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/groupproject2.jpg" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/groupproject3.jpg" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/groupproject4.jpg" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/groupproject5.jpg" aria-hidden="true" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/groupproject6.jpg" aria-hidden="true" />
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="storefornt"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class="storefront"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5" class="storefront"></li>

                </ol>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Upside Down University - Scheduling Admin Tool</h4>
            <p>
                This was a sprint pair programming project where I worked with a classmate, Jacob Woodworth. We had a deadline to have this application completed by, and specific criteria/functionality to meet. Our prompt was to design and build a data-driven web application that is used by university staff to manage student
                enrollments into courses.
                I learned to collaborate with Application Lifecycle Management, Agile, and Scrum. I was also introduced to Software Development Lifecycle (SDLC), the Unified Modeling Language, and Clean Coding principles like SOLID and DRY. I enjoyed the benefits of pair programming, and used my love of organization and project management during this project. My contributions were also creating and managing the database, helping to build the image upload and filtering functionality, utilizing Entity Frameworks, controlling access/authorization, and documenting the Project's progression.

            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> August 2021</p>
            <p><b>Creator:</b> Jacob Woodworth & Danielle Smalley</p>
            <p>
                <b>Categories:</b> HTML5,
                CSS3,
                JavaScript,
                C#,
                ASP.Net,
                MVC,
                Entity Frameworks,
                Sequel Server Management Studio,
                Identity Samples,
                jQuery / jQuery DataTables,
                Bootstrap,
                Debugging,
                Pair Programming,
                Trello,
                Zoom,
                Discord,
                Creately,
                Filezilla,
                SmarterASP
            </p>
            <p><b>GitHub Repo:</b> <a href="https://github.com/Jwoodworth515/SchedulingAdminTool" target="_blank">Click Here</a> </p>
            <p><b>Project Documentation:</b><a href="~/Content/UpsideDownUniversity.pdf" target="_blank">Found Here</a></p>
            <br />
        </div>

    </div>
</div>

